/* CSS RESET */
* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: lightgrey;
  font: 16px/24px arial, sans-serif;
}

.container {
  width: 800px;
  background-color: white;
  margin: auto;
}

/* header */
.header {
  padding: 20px;
}

.title {
  font-size: 40px;
  font-weight: bold;
}

.header ul li {
  display: inline-block;
  margin-top: 20px;
  margin-right: 8px;
}

.header ul li a {
  text-decoration: none;
}

.header ul li a:hover {
  background-color: aqua;
  color: red;
}
/* end of header */

/* hero */
.hero {
  height: 320px;
  background-image: url(img/hero.jpg);
  background-size: cover;
  border-bottom: 5px solid blue;
  border-top: 5px solid red;
}
/* end of hero */

/* Konten */
.konten {
  padding: 20px;
}

.konten .title {
  font-size: 26px;
  font-weight: bold;
}

.konten .publsiher {
  font-size: 11px;
}

.konten p {
  margin-bottom: 20px;
}
/* End of content */

/* footer */
.footer {
  padding: 20px;
}
/* end of footer */
